<mat-grid-list cols="" rowHeight="2:3">
    <mat-card class="card-options ">
        <mat-card-title>NUEVO PACIENTE</mat-card-title>
        <form (submit)="onSubmit()" [formGroup]="new" >
            <mat-form-field class="field" appearance="fill">
                <mat-label>Identificación</mat-label>
                <input matInput   formControlName="nmid"  id="nmid"     type="number"  required>
            </mat-form-field>
            <mat-form-field class="field" appearance="fill">
                <mat-label>Id Persona</mat-label>
                <input matInput   formControlName="nmid_persona"  id="nmid_persona"     type="number"  required>
            </mat-form-field>
            <mat-form-field class="field" appearance="fill">
                <mat-label>Id Medico</mat-label>
                <input matInput   formControlName="nmid_medicotra"  id="nmid_medicotra"     type="number"  required>
            </mat-form-field>
            <mat-form-field class="field" appearance="fill">
                <mat-label>EPS</mat-label>
                <input matInput   formControlName="dseps"  id="dseps"     type="text"  required>
            </mat-form-field>          
            <mat-form-field class="field" appearance="fill">
                <mat-label>ARL</mat-label>
                <input matInput   formControlName="dsarl"  id="dsarl"     type="text"  required>
            </mat-form-field>
            <mat-form-field class="field" appearance="fill">
                <mat-label>Fecha de Registro</mat-label>
                <input matInput   formControlName="feregistro"  id="feregistro"     type="datetime"  required>
            </mat-form-field>
            <mat-form-field class="field" appearance="fill">
                <mat-label>Fecha de Baja</mat-label>
                <input matInput   formControlName="febaja"  id="febaja"     type="datetime"  required>
            </mat-form-field>
            <mat-form-field class="field" appearance="fill">
                <mat-label>Cd Usuario</mat-label>
                <input matInput   formControlName="cdusuario"  id="cdusuario"    type="text"  required>
            </mat-form-field>
            <mat-form-field class="field" appearance="fill">
                <mat-label>Condicion</mat-label>
                <input matInput   formControlName="dscondicion"  id="dscondicion"     type="text"  required>
            </mat-form-field>
           
            <button type="submit" [disabled]="new.invalid" mat-button >Agregar</button>
        </form>
    </mat-card>  
</mat-grid-list>
